@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.PasswordBox {
  background: white;
  width: 35%;
  height: 100px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
}

.PasswordBox .red {
  color: rgb(178, 11, 65);
}
